<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
		<title>iKnow</title>
		<script src="js/mui.js"></script>
		<script src="js/customize.js"></script>
		<script src="js/template.js"></script>
		<link href="css/mui.css" rel="stylesheet" />
		<link rel="stylesheet" href="css/font-awesome.css">
		<style>
			html,
			body {
				min-height: 100%;
				background-color: #efeff4;
			}
			,
			.nopaddingleft {
				padding-left: 0px;
			}
			
		</style>
		<script type="text/javascript" charset="utf-8">
			mui.init();
			mui.plusReady(function() {
				var currentcity = plus.storage.getItem('currentcity');
				var location = '{"city":"'+currentcity+'"}';
				mui.ajax(url.list, {
					data: {
						action: 'get_recommend_service',
						location: location
					},
					type: 'post', //HTTP请求类型 
					timeout: 100000, //超时时间设置为10秒；  
					success: function(data) {
						console.log(data);
						this.obj = JSON.parse(data)
						obj = obj.RespContent.Content
						plus.geolocation.getCurrentPosition(function(p) {
								//var point1 = new plus.maps.Point(p.coords.latitude, p.coords.longitude);
								for (item in obj) {
									var point2lat = eval(obj[item].latitude);
									var point2long = eval(obj[item].longtitude);
									obj[item].distance = distancefunc(p.coords.latitude, p.coords.longitude, point2lat, point2long).toFixed(1);
								}
								var html = template('serviceslist', {
									list: obj
								});
								document.getElementById('Services').innerHTML = html;
								mui.ajax(url.list, {
									data: {
										action: 'get_recommend_news',
										location: location
										
									},
									type: 'post', //HTTP请求类型 
									timeout: 100000, //超时时间设置为10秒；  
									success: function(data) {
										//console.log(data);
										var obj = JSON.parse(data);
										obj = obj.RespContent.Content
										var html = template('slidetemplate', {
											list: obj
										});
										//console.log(obj[0].title)
										document.getElementById('slideshowul').innerHTML = html;
									},
									error: function(xhr, type, errorThrown) {
										//plus.nativeUI.alert('网络连接失败，请确认设备网络状态')
										console.log("hhh");
										console.log(type);
										console.log(JSON.stringify(xhr));
									}
								});
								mui.ajax(url.list, {
									data: {
										action: 'get_recommend_massagist',
										location:location
									},
									type: 'post', //HTTP请求类型 
									timeout: 100000, //超时时间设置为10秒；  
									success: function(data) {
										this.obj2 = JSON.parse(data);
										obj2 = obj2.RespContent.Content
										//plus.geolocation.getCurrentPosition(function(p) {
										//plus.storage.setItem("point1lat", p.coords.latitude);
										for (item in obj2) {
											var point2lat = eval(obj2[item].latitude);
											var point2long = eval(obj2[item].longtitude);
											obj2[item].distance = distancefunc(p.coords.latitude, p.coords.longitude, point2lat, point2long).toFixed(1);
										}
										var html = template('massagistslist', {
											list: obj2
										});
										document.getElementById('massagist').innerHTML = html;
										//})
										//console.log(data);
									},
									error: function(xhr, type, errorThrown) {
										console.log(type);
										console.log(JSON.stringify(xhr));
									}
								});
								document.getElementById("servicecategorybtn").addEventListener('tap', function() {
									mui.openWindow({
										url: 'servicecategory.html',
										id: 'servicecategory',
										extras: {
											mylatitude: p.coords.latitude,
											mylongtitude: p.coords.longitude
										},
										styles: {
											popGesture: 'close'
										},
										show: {
											autoShow: true, //页面loaded事件发生后自动显示，默认为true
											aniShow: 'pop-in', //页面显示动画，默认为”slide-in-right“；
											duration: 300 //页面动画持续时间，Android平台默认100毫秒，iOS平台默认200毫秒；
										},
										waiting: {
											autoShow: true, //自动显示等待框，默认为true
											title: '正在加载...', //等待对话框上显示的提示内容
										}
									})
								})
								document.getElementById("servicelistbtn").addEventListener('tap', function() {
									mui.openWindow({
										url: 'serviceslist.html',
										id: 'serviceslist',
										extras: {
											mylatitude: p.coords.latitude,
											mylongtitude: p.coords.longitude
										},
										styles: {
											popGesture: 'close'
										},
										show: {
											autoShow: true, //页面loaded事件发生后自动显示，默认为true
											aniShow: 'pop-in', //页面显示动画，默认为”slide-in-right“；
											duration: 300 //页面动画持续时间，Android平台默认100毫秒，iOS平台默认200毫秒；
										},
										waiting: {
											autoShow: true, //自动显示等待框，默认为true
											title: '正在加载...', //等待对话框上显示的提示内容
										}
									})
								})
								mui('#homecategory').on('tap', 'li', function() {
									mui.openWindow({
										url: 'serviceslist.html',
										id: 'serviceslist',
										extras: {
											categoryid: this.getAttribute('data-id'),
											mylatitude: p.coords.latitude,
											mylongtitude: p.coords.longitude
										},
										styles: {
											popGesture: 'close'
										},
										show: {
											autoShow: true, //页面loaded事件发生后自动显示，默认为true
											aniShow: 'pop-in', //页面显示动画，默认为”slide-in-right“；
											duration: 300 //页面动画持续时间，Android平台默认100毫秒，iOS平台默认200毫秒；
										},
										waiting: {
											autoShow: true, //自动显示等待框，默认为true
											title: '正在加载...', //等待对话框上显示的提示内容
										}
									})
								})
								document.getElementById("massagistlistbtn").addEventListener('tap', function() {
									mui.openWindow({
										url: 'massagistslist.html',
										id: 'massagistslist',
										extras: {
											mylatitude: p.coords.latitude,
											mylongtitude: p.coords.longitude
										},
										styles: {
											popGesture: 'close'
										},
										show: {
											autoShow: true, //页面loaded事件发生后自动显示，默认为true
											aniShow: 'pop-in', //页面显示动画，默认为”slide-in-right“；
											duration: 300 //页面动画持续时间，Android平台默认100毫秒，iOS平台默认200毫秒；
										},
										waiting: {
											autoShow: true, //自动显示等待框，默认为true
											title: '正在加载...', //等待对话框上显示的提示内容
										}
									})
								})
							},
							function(e) {
								//Post2Template(url.list, 'get_recommand_service', 'serviceslist', 'Services');
								//Post2Template(url.list, 'get_recommand_massagist', 'massagistslist', 'massagist');
								plus.nativeUI.alert('定位失败，请确认身知道的定位权限开启');
								for (item in obj) {
									obj[item].distance = 'null';
								}
								var html = template('serviceslist', {
									list: obj
								});
								document.getElementById('Services').innerHTML = html;
								mui.ajax(url.list, {
									data: {
										action: 'get_recommend_news',
										location: location
									},
									type: 'post', //HTTP请求类型 
									timeout: 100000, //超时时间设置为10秒；  
									success: function(data) {
										console.log("news");
										console.log(data);
										var obj = JSON.parse(data);
										obj = obj.RespContent.Content
										var html = template('slidetemplate', {
											list: obj
										});
										//console.log(obj[0].title)
										document.getElementById('slideshowul').innerHTML = html;
									},
									error: function(xhr, type, errorThrown) {
										//plus.nativeUI.alert('网络连接失败，请确认设备网络状态')
										console.log(type);
										console.log(JSON.stringify(xhr));
									}
								});
								
								document.getElementById("servicecategorybtn").addEventListener('tap', function() {
									mui.openWindow({
										url: 'servicecategory.html',
										id: 'servicecategory',
										extras: {
											mylatitude: 'null',
											mylongtitude: 'null'
										},
										styles: {
											popGesture: 'close'
										},
										show: {
											autoShow: true, //页面loaded事件发生后自动显示，默认为true
											aniShow: 'pop-in', //页面显示动画，默认为”slide-in-right“；
											duration: 300 //页面动画持续时间，Android平台默认100毫秒，iOS平台默认200毫秒；
										},
										waiting: {
											autoShow: true, //自动显示等待框，默认为true
											title: '正在加载...', //等待对话框上显示的提示内容
										}
									})
								})
								mui('#homecategory').on('tap', 'li', function() {
									mui.openWindow({
										url: 'serviceslist.html',
										id: 'serviceslist',
										extras: {
											categoryid: this.getAttribute('data-id'),
											mylatitude: 'null',
											mylongtitude: 'null'
										},
										styles: {
											popGesture: 'close'
										},
										show: {
											autoShow: true, //页面loaded事件发生后自动显示，默认为true
											aniShow: 'pop-in', //页面显示动画，默认为”slide-in-right“；
											duration: 300 //页面动画持续时间，Android平台默认100毫秒，iOS平台默认200毫秒；
										},
										waiting: {
											autoShow: true, //自动显示等待框，默认为true
											title: '正在加载...', //等待对话框上显示的提示内容
										}
									})
								})
								mui.ajax(url.list, {
									data: {
										action: 'get_recommend_massagist',
										location: location
									},
									type: 'post', //HTTP请求类型 
									timeout: 100000, //超时时间设置为10秒；  
									success: function(data) {
										this.obj2 = JSON.parse(data);
										obj2 = obj2.RespContent.Content
										//plus.geolocation.getCurrentPosition(function(p) {
										//plus.storage.setItem("point1lat", p.coords.latitude);
										for (item in obj2) {
											//var point2lat = eval(obj2[item].latitude);
											//var point2long = eval(obj2[item].longtitude);
											obj2[item].distance = 'null';
										}
										var html = template('massagistslist', {
											list: obj2
										});
										document.getElementById('massagist').innerHTML = html;
										//})
										//console.log(data);
									},
									error: function(xhr, type, errorThrown) {
										console.log(type);
										console.log(JSON.stringify(xhr));
									}
								});
								document.getElementById("servicelistbtn").addEventListener('tap', function() {
									mui.openWindow({
										url: 'serviceslist.html',
										id: 'serviceslist',
										extras: {
											mylatitude: 'null',
											mylongtitude: 'null'
										},
										styles: {
											popGesture: 'close'
										},
										show: {
											autoShow: true, //页面loaded事件发生后自动显示，默认为true
											aniShow: 'pop-in', //页面显示动画，默认为”slide-in-right“；
											duration: 300 //页面动画持续时间，Android平台默认100毫秒，iOS平台默认200毫秒；
										},
										waiting: {
											autoShow: true, //自动显示等待框，默认为true
											title: '正在加载...', //等待对话框上显示的提示内容
										}
									})
								})
								document.getElementById("massagistlistbtn").addEventListener('tap', function() {
									mui.openWindow({
										url: 'massagistslist.html',
										id: 'massagistslist',
										extras: {
											mylatitude: 'null',
											mylongtitude: 'null'
										},
										styles: {
											popGesture: 'close'
										},
										show: {
											autoShow: true, //页面loaded事件发生后自动显示，默认为true
											aniShow: 'pop-in', //页面显示动画，默认为”slide-in-right“；
											duration: 300 //页面动画持续时间，Android平台默认100毫秒，iOS平台默认200毫秒；
										},
										waiting: {
											autoShow: true, //自动显示等待框，默认为true
											title: '正在加载...', //等待对话框上显示的提示内容
										}
									})
								})
							})
					},
					error: function(xhr, type, errorThrown) {
						plus.nativeUI.alert('网络连接失败，请确认设备网络状态');
						document.getElementById("servicesloading").innerHTML = '加载失败';
						document.getElementById("massagistsloading").innerHTML = '加载失败';
						console.log(type);
						console.log(JSON.stringify(xhr));
					}
				});
				mui('#Services').on('tap', 'li', function() {
						mui.openWindow({
							url: 'index_service_detail.html',
							id: 'index_service_detail',
							extras: {
								serviceid: obj[this.getAttribute('data-id')].serviceid,
								distance: obj[this.getAttribute('data-id')].distance,
								servicename: obj[this.getAttribute('data-id')].servicename,
								shopname: obj[this.getAttribute('data-id')].shopname,
								price: obj[this.getAttribute('data-id')].price,
								latitude: obj[this.getAttribute('data-id')].latitude,
								longtitude: obj[this.getAttribute('data-id')].longtitude
							},
							styles: {
								popGesture: 'close'
							},
							show: {
								autoShow: true, //页面loaded事件发生后自动显示，默认为true
								aniShow: 'pop-in', //页面显示动画，默认为”slide-in-right“；
								duration: 300 //页面动画持续时间，Android平台默认100毫秒，iOS平台默认200毫秒；
							},
							waiting: {
								autoShow: true, //自动显示等待框，默认为true
								title: '正在加载...', //等待对话框上显示的提示内容
							}
						})
					})
					//console.log(point1);
				mui('#massagist').on('tap', 'li', function() {
					mui.openWindow({
						url: 'massagist_detail.html',
						id: 'massagist_detail',
						extras: {
							massagistid: obj2[this.getAttribute('data-id')].massagistid,
							distance: obj2[this.getAttribute('data-id')].distance
						},
						styles: {
							popGesture: 'close'
						},
						show: {
							autoShow: true, //页面loaded事件发生后自动显示，默认为true
							aniShow: 'pop-in', //页面显示动画，默认为”slide-in-right“；
							duration: 300 //页面动画持续时间，Android平台默认100毫秒，iOS平台默认200毫秒；
						},
						waiting: {
							autoShow: true, //自动显示等待框，默认为true
							title: '正在加载...', //等待对话框上显示的提示内容
						}
					})
				})
				mui('#slideshowul').on('tap', 'div', function() {
						mui.openWindow({
							url: 'slidecontent.html',
							id: 'slidecontent',
							extras: {
								newsid: this.getAttribute('data-id')
							},
							styles: {
								popGesture: 'close'
							},
							show: {
								autoShow: true, //页面loaded事件发生后自动显示，默认为true
								aniShow: 'pop-in', //页面显示动画，默认为”slide-in-right“；
								duration: 300 //页面动画持续时间，Android平台默认100毫秒，iOS平台默认200毫秒；
							},
							waiting: {
								autoShow: true, //自动显示等待框，默认为true
								title: '正在加载...', //等待对话框上显示的提示内容
							}
						})
				})
				plus.webview.currentWebview().setStyle({
					scrollIndicator: 'none'
				});
			})
		</script>
		
	</head>

	<body>
		<div class="mui-content">
			<div id="slideshow" class="mui-slider";>
				<div id="slideshowul" class="mui-slider-group">
					<div data-id="1" class="mui-slider-item">
						<a id="slider-image-1" href="javascript:;"><img src="img/defaultslide.png" /></a>
					</div>
				</div>
			</div>

			<ul class="mui-table-view panel-title">
				<li class="mui-table-view-cell">
					<a id="servicecategorybtn" class="mui-navigate-right">
						预约服务
					</a>
				</li>
			</ul>
			<ul id="homecategory" class="panel-grid mui-table-view mui-grid-view" style="padding-top: 10px;">
				<li data-id="1" class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3">
					<a href="#" style="padding-top:0px">
						<span class="mui-icon"><img src="img/massage.png" class="panel-icon-pic"/></span>
						<div class="mui-media-body panel-icon-text greentext" style="color: #00cd92;padding-left: 5px;">推拿按摩</div>
					</a>
				</li>
				<li data-id="2" class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3">
					<a href="#" style="padding-top:0px">
						<span class="mui-icon"><img src="img/gas.png" class="panel-icon-pic"/></span>
						<div class="mui-media-body panel-icon-text redtext" style="color: #ff6600;padding-left: 5px;">刮痧火罐</div>
					</a>
				</li>
				<li data-id="3" class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3">
					<a href="#" style="padding-top:0px">
						<span class="mui-icon"><img src="img/wet.png" class="panel-icon-pic"/></span>
						<div class="mui-media-body panel-icon-text bluetext" style="color: #3fbacd;padding-left: 5px;">汗蒸浴场</div>
					</a>
				</li>
				<li data-id="4" class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3">
					<a href="#" style="padding-top:0px">
						<span class="mui-icon"><img src="img/human_footprints.png" class="panel-icon-pic"/></span>
						<div class="mui-media-body panel-icon-text yellowtext" style="color: #3fbacd;padding-left: 5px;">足疗养生</div>
					</a>
				</li>
			</ul>

			<ul class="mui-table-view panel-title">
				<li class="mui-table-view-cell">
					<a id='servicelistbtn' class="mui-navigate-right">
						热门服务
					</a>
				</li>
			</ul>
			<ul id="Services" class="mui-table-view">
				<li class="mui-table-view-cell mui-media">
					<a>
						<img class="mui-media-object-large mui-pull-left" style="width:100%;height:100%" src="img/defaultpic.png">
						<div id="servicesloading" class="mui-media-body" style="color:#999999">
							加载中...
						</div>
					</a>
				</li>
			</ul>

			<ul class="mui-table-view panel-title">
				<li class="mui-table-view-cell">
					<a id='massagistlistbtn' class="mui-navigate-right">
						金牌保健师
					</a>
				</li>
			</ul>
			<ul id="massagist" class="mui-table-view">
				<li class="mui-table-view-cell mui-media ">
					<a href="javascript:; ">
						<div class="pull-left mui-media-object-round " style="margin:10px 0 0 10px;background-image: url(img/defaultprofilepic.png);width:64px;height:64px;background-size: cover; ">
						</div>
						<div id="massagistsloading" class="mui-media-body mui-media-body-massagistlist" style="color:#999999;">
							加载中
						</div>
					</a>
				</li>
			</ul>
		</div>

		<script id="serviceslist" type="text/html ">
			{{each list as value i}}
			<li data-id="{{i}}" class="mui-table-view-cell mui-media">
				<a>
					<img class="mui-media-object-large mui-pull-left serviceimg" src="{{value.pic}}">
					<div class="mui-media-body ">
						<p class='mui-ellipsis servicename'>{{value.servicename}}</p>
						<p class='mui-ellipsis mui-services-provider'>{{value.shopname}}</p>
						{{if value.distance!='null'}}
						<p class='mui-pull-right mui-service-distance'>{{value.distance||0}} km</p>{{/if}}
						<span class='mui-price'>￥{{value.price}}</span>
					</div>
				</a>
			</li>
			{{/each}}
		</script>

		<script id="slidetemplate" type="text/html ">
			{{each list as value i}}
			<div data-id="{{value.id}}" class="mui-slider-item">
				<a id="slider-image-{{value.id}}" href="javascript:;"><img src="{{value.pic}}" /></a>
			</div>
			{{/each}}
		</script>
		<script id="massagistslist" type="text/html ">
			{{each list as value i}}
			<li data-id="{{i}}" class="mui-table-view-cell mui-media ">
				<a href="javascript:; ">
					<div class="pull-left mui-media-object-round profileimg" style="background-image: url({{value.pic}});">
					</div>
					<div class="mui-media-body mui-media-body-massagistlist ">
						<span>{{value.name}}</span><span><img class="star" src="img/v{{value.stars}}.png"/></span>{{if value.distance!='null'}}<span class="mgdistance" style="">{{value.distance||0}} km</span>{{/if}} 
						<p class='mui-ellipsis mui-massagist-provider'>{{value.shopname}}</p>
						<p class='mui-ellipsis-2'>{{value.intro}}</p>
					</div>
				</a>
			</li>
			{{/each}}
		</script>
		<script type="text/javascript" src="http://pingjs.qq.com/h5/stats.js" name="MTAH5" sid="500023893" ></script>
	</body>

</html>