<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
		<title>iKnow-OrderApplication_massagist</title>
		<script src="js/mui.js"></script>
		<script src="js/template.js"></script>
		<script src="js/customize.js"></script>
		<link href="css/mui.css" rel="stylesheet" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		<script type="text/javascript" charset="utf-8">
			mui.init({
				swipeBack: true
			});
			mui.plusReady(function() {
				plus.navigator.setStatusBarBackground("#6acccb");
				plus.navigator.setStatusBarStyle("UIStatusBarStyleBlackOpaque");
				var self = plus.webview.currentWebview();
				document.getElementById("servicename").innerHTML = self.servicename;
				document.getElementById("price").innerHTML = "￥" + self.price;
				var html3 = template('3massagisttem', {
					list: self.malist
				});
				document.getElementById('3massagist').innerHTML = html3;
				var html2 = template('2massagisttem', {
					list: self.malist
				});
				document.getElementById('2massagist').innerHTML = html2;
				var html1 = template('1massagisttem', {
					list: self.malist
				});
				document.getElementById('1massagist').innerHTML = html1;
				var ch = document.getElementsByName('radio1');
				plus.storage.setItem("order_massaid", ch[0].value);
				plus.storage.setItem("order_massaname", ch[0].id);
				console.log(ch[0].id)
				console.log(ch[0].value)
				for (var i = ch.length; i--;) {
					ch[i].onclick = function() {
						plus.storage.setItem("order_massaid", this.value);
						plus.storage.setItem("order_massaname", this.id);
					}
				}
				var opener = plus.webview.currentWebview().opener();
				document.getElementById("confirmbtn").addEventListener('tap',function(){
					mui.fire(plus.webview.getWebviewById(opener.id), 'updateorder', {});
					mui.back();
				})
			})
		</script>

		<script id="1massagisttem" type="text/html ">
			{{each list as value i}} {{if value.level == 'M'}}
			<div class="mui-input-row mui-radio" style="height:auto;border-bottom: thin;border-bottom-style: solid;border-bottom-color: #f2f2f2;">
				<li data-id="{{i}}" class="mui-table-view-cell mui-media ">
					<a href="javascript:; " style="padding:15px 0 15px 10px">
						<div class="pull-left mui-media-object-round " style="margin:10px 10px 0 10px;background-image: url({{value.pic}});width:64px;height:64px;background-size: cover; ">
						</div>
						<div class="mui-media-body mui-media-body-massagistlist ">
							<span name="maname">{{value.name}}</span><span><img src="img/v{{value.stars}}.png" style="position:relative;width:24px;height:24px;top:5px;left:5px"/></span>
							<p class='mui-ellipsis-3' style="padding-right:45px">{{value.intro}}</p>
						</div>
					</a>
					<input class="mui-pull-right" id={{value.name}} value={{value.phone}} name="radio1" type="radio" checked style="padding: 30px 40px 60px 300px;right: 0px;top:15px">
				</li>
			</div>
			{{/if}} {{/each}}
		</script>

		<script id="2massagisttem" type="text/html ">
			{{each list as value i}} {{if value.level == 'H'}}
			<div class="mui-input-row mui-radio" style="height:auto;border-bottom: thin;border-bottom-style: solid;border-bottom-color: #f2f2f2;">
				<li data-id="{{i}}" class="mui-table-view-cell mui-media ">
					<a href="javascript:; " style="padding:15px 0 15px 10px">
						<div class="pull-left mui-media-object-round " style="margin:10px 10px 0 10px;background-image: url({{value.pic}});width:64px;height:64px;background-size: cover; ">
						</div>
						<div class="mui-media-body mui-media-body-massagistlist ">
							<span name="maname">{{value.name}}</span><span><img src="img/v{{value.stars}}.png" style="position:relative;width:24px;height:24px;top:5px;left:5px"/></span>
							<p class='mui-ellipsis-3' style="padding-right:45px">{{value.intro}}</p>
						</div>
					</a>
					<input class="mui-pull-right" id={{value.name}} value={{value.phone}} name="radio1" type="radio" checked style="padding: 30px 40px 60px 300px;right: 0px;top:15px">
				</li>
			</div>
			{{/if}} {{/each}}
		</script>

		<script id="3massagisttem" type="text/html ">
			{{each list as value i}} {{if value.level == 'E'}}
			<div class="mui-input-row mui-radio" style="height:auto;border-bottom: thin;border-bottom-style: solid;border-bottom-color: #f2f2f2;">
				<li data-id="{{i}}" class="mui-table-view-cell mui-media ">
					<a href="javascript:; " style="padding:15px 0 15px 10px">
						<div class="pull-left mui-media-object-round " style="margin:10px 10px 0 10px;background-image: url({{value.pic}});width:64px;height:64px;background-size: cover; ">
						</div>
						<div class="mui-media-body mui-media-body-massagistlist ">
							<span name="maname">{{value.name}}</span><span><img src="img/v{{value.stars}}.png" style="position:relative;width:24px;height:24px;top:5px;left:5px"/></span>
							<p class='mui-ellipsis-3' style="padding-right:45px">{{value.intro}}</p>
						</div>
					</a>
					<input class="mui-pull-right" id={{value.name}} value={{value.phone}} name="radio1" type="radio" checked style="padding: 30px 40px 60px 300px;right: 0px;top:15px">
				</li>
			</div>
			{{/if}} {{/each}}
		</script>
		<style>
			html,
			body {
				min-height: 100%;
				background-color: #efeff4;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav" style="position: fixed; background-color: #6ACCCB;">
			<h1 id="title" class="mui-title" style="color: #ffffff;">技师选择</h1>
			<a id="backbtn" class="mui-icon mui-action-back mui-icon-left-nav mui-pull-left icon-whilte"></a>
			<a id="confirmbtn" class="mui-pull-right" style="color: #ffffff;padding: 12px 0px 12px 30px">确认</a>
		</header>
		<div class="mui-content">
			<div style="height:60px;top:0px;background-color: #ffffff;">
				<span style="font-size:14px;color: #333333;line-height: 60px;padding-left: 15px;" id="servicename">小儿保健套餐</span>
				<span class="mui-pull-right" style="line-height: 60px;padding-right: 15px;color: #FF9900;font-size: 14px;" id="price">$98</span>
			</div>
			<form style="height:auto;" name="maform" ; id="maform">
				<div style="background-color: #ffffff; height:60px;position:relative;top:15px;margin-left:10px;margin-right:10px">
					<p style="font-size:18px;color:#56abe4;line-height: 60px;padding-left: 15px;">中级保健师</p>
				</div>
				<ul id="1massagist" style="height: auto;background-color: #ffffff;margin-bottom:15px;position: relative;top: 16px;padding-left: 0px;margin:0 10px 0 10px">
				</ul>
				<div style="background-color: #ffffff; height:60px;position:relative;top:40px;margin-left:10px;margin-right:10px">
					<p style="font-size:18px;color:#56abe4;line-height: 60px;padding-left: 15px;">高级保健师</p>
				</div>
				<ul id="2massagist" style="height: auto;background-color: #ffffff;margin-bottom:15px;position: relative;top: 41px;padding-left: 0px;margin:0 10px 0 10px">
				</ul>
				<div style="background-color: #ffffff; height:60px;position:relative;top:65px;margin-left:10px;margin-right:10px">
					<p style="font-size:18px;color:#56abe4;line-height: 60px;padding-left: 15px;">专家保健师</p>
				</div>
				<ul id="3massagist" style="height: auto;background-color: #ffffff;margin-bottom:15px;position: relative;top: 66px;padding-left: 0px;margin:0 10px 0 10px">
				</ul>
			</form>
		</div>

	</body>

</html>