<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
		<title>iKnow-Orderlist</title>
		<script src="js/mui.js"></script>
		<script src="js/template.js"></script>
		<script src="js/customize.js"></script>
		<link href="css/mui.css" rel="stylesheet" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		<script type="text/javascript" charset="utf-8">
			mui.init();
			mui.plusReady(function() {
				self = plus.webview.currentWebview()
				window.addEventListener('refreshme', function(event) { //监听自定义事件
					self.reload(true);
					//console.log('ordersreloaded')
				});
				function loadmoreorder(customid, pagenum) {
					mui.ajax(url.list, {
						data: {
							action: 'get_order_list',
							pagenum: pagenum,
							customid: customid
						},
						type: 'post', //HTTP请求类型 
						timeout: 100000, //超时时间设置为10秒；
						//async: false,
						success: function(data) {
							var obj = JSON.parse(data);
							var html = template('orderlisttemplate', {
								list: obj
							});
							console.log(data);
							if (data != '[]') {
								var orderlistul = document.querySelector('#orderlist');
								orderlistul.innerHTML += html;
								document.getElementById("moreordersbtn").innerHTML = '点击查看更多'
							} else {
								document.getElementById("moreordersbtn").innerHTML = '已加载完毕'
							}
						},
						error: function(xhr, type, errorThrown) {
							console.log(type);
							console.log(JSON.stringify(xhr));
						}
					});
				}
				document.getElementById("orderlist").addEventListener('tap', function(e) {
					//显示订单详情页 
					var target = e.target;
					if (target.name == 'reviewbtn') {
						mui.openWindow({
							id: 'mareview',
							url: "mareview.html",
							styles: {
								popGesture: 'close'
							},
							show: {
								autoShow: true, //页面loaded事件发生后自动显示，默认为true
								aniShow: 'pop-in', //页面显示动画，默认为”slide-in-right“；
								duration: 300 //页面动画持续时间，Android平台默认100毫秒，iOS平台默认200毫秒；
							},
							waiting: {
								autoShow: true, //自动显示等待框，默认为true
								title: '正在加载...', //等待对话框上显示的提示内容
							},
							extras: {
  							orderid: target.id.substring(0,target.id.length-3)
  						}
						});
					} else {
//						var wv = plus.webview.create('orderdetail.html', 'orderdetail', {
//							'popGesture': 'close'
//						});
//						wv.show("pop-in", 300);
						
						mui.openWindow({
							id: 'orderdetail',
							url: "orderdetail.html",
							styles: {
								popGesture: 'close'
							},
							show: {
								autoShow: true, //页面loaded事件发生后自动显示，默认为true
								aniShow: 'pop-in', //页面显示动画，默认为”slide-in-right“；
								duration: 300 //页面动画持续时间，Android平台默认100毫秒，iOS平台默认200毫秒；
							},
							waiting: {
								autoShow: true, //自动显示等待框，默认为true
								title: '正在加载...', //等待对话框上显示的提示内容
							},
							extras: {
  							orderid: target.id
  						}
						});
					}
				});
				
			
				document.getElementById("moreordersbtn").addEventListener('tap',function(){
					document.getElementById("moreordersbtn").innerHTML = '<span id="indicator" class="mui-icon mui-spinner mui-spin" style="position: relative;top:6px;"></span>  加载中'
					var pagenum = Math.ceil(document.getElementById("orderlist").children.length / 10) + 1
					loadmoreorder(plus.storage.getItem("useraccount"), pagenum)
				})
				//console.log('ordershehe')
				mui.ajax(url.list, {
					data: {
						action: 'get_order_list',
						customid: plus.storage.getItem("useraccount"),
						pagenum:'1'
					},
					type: 'post', //HTTP请求类型 
					timeout: 100000, //超时时间设置为10秒；  
					success: function(data) {
						var obj = JSON.parse(data);
						if(data=='[]'){
							//console.log('none')
							document.getElementById("noitem").style.display = ''
							document.getElementById("orderlist").style.display = 'none'
							document.getElementById("moreordersbtn").style.display = 'none'
						}else{
							if(obj.length<5){
								document.getElementById("moreordersbtn").style.display = 'none'
							}
							//console.log(data);
						var html = template('orderlisttemplate', {
							list: obj
						});
						//console.log(html);
						document.getElementById('orderlist').innerHTML = html;
						}
					},
					error: function(xhr, type, errorThrown) {
						console.log(type);
						console.log(JSON.stringify(xhr));
					}
				});
				
			})
		</script>
		<style>
			html,
			body {
				min-height: 100%;
				background-color: #efeff4;
			}
			.pic {
				min-width:120px;min-height:80px;width120px;height:80px;margin-right:0px
			}
		</style>
	</head>

	<body>
		<div class="mui-content">
			<ul id="orderlist" class="mui-table-view">
				<li class="mui-table-view-cell mui-media">
					<a href="javascript:;">
						<img class="mui-media-object-large mui-pull-left" src="img/defaultpic.png">
						<div class="mui-media-body" style="position: relative">
							<p class='mui-order-title' style="color:#999999">加载中...</p>
						</div>
					</a>
				</li>
			</ul>
			<ul class="mui-table-view-cell" style="height:auto;background-color:#ffffff;text-align:center;color:#ff9900;font-size:14px;margin-top:0px" id="moreordersbtn">点击查看更多</ul>
			<ul id="noitem" class="mui-table-view" style="display: none;top:15px">
				<li class="mui-table-view-cell mui-media" style="text-align: center;">
					<div style="text-align: center;"><img style="width:80px" src="img/sadface.png"/></div>
					<p>您还没有预约订单</p>
				</li>
			</ul>
		</div>
	</body>

	<script id="orderlisttemplate" type="text/html ">
		{{each list as value i}}
		{{if value.status == 'UNPAID'}}
		<li id="{{value.orderid}}" class="mui-table-view-cell mui-media">
			<a id="{{value.orderid}}" href="javascript:;">
				<img id="{{value.orderid}}" class="mui-media-object-large mui-pull-left pic" src="{{value.pic}}">
				<div id="{{value.orderid}}" class="mui-media-body" style="position: relative">
					<p id="{{value.orderid}}" class='mui-order-title'>{{value.servicename}}</p>
					<span id="{{value.orderid}}" class='mui-ellipsis' style="font-size:14px;color:#666666">{{value.shopname}}</span>
					<div id="{{value.orderid}}" style="margin-top: 5px;">
						<span id="{{value.orderid}}" style="font-size:14px; color:#666666">￥{{value.unitprice}}</span>
					</div>
				</div>
			</a>
		</li>
		{{/if}}
		{{if value.status == 'UNCOMMENT'}}
		<li id="{{value.orderid}}" class="mui-table-view-cell mui-media">
			<a href="javascript:;" id="{{value.orderid}}" >
				<img id="{{value.orderid}}" class="mui-media-object-large mui-pull-left pic" src="{{value.pic}}">
				<div id="{{value.orderid}}" class="mui-media-body" style="position: relative">
					<p id="{{value.orderid}}" class='mui-ellipsis mui-order-title'>{{value.servicename}}</p>
					<span id="{{value.orderid}}" class='mui-ellipsis mui-ellipsis' style="font-size:14px;color:#666666">{{value.shopname}}</span>
					<div id="{{value.orderid}}" style="margin-top: 5px;">
						<span id="{{value.orderid}}" style="font-size:14px; color:#666666">￥{{value.unitprice}}</span>
						<span id="{{value.orderid}}" ><button id="{{value.orderid}}btn" name="reviewbtn" class="mui-btn mui-btn-negative mui-btn-ordersbtn mui-pull-right" style="top:0px">评价</button></span>
					</div>
				</div>
			</a>
		</li>
		{{/if}}
		{{if value.status == 'DONE'}}
		<li id="{{value.orderid}}" class="mui-table-view-cell mui-media">
			<a id="{{value.orderid}}" href="javascript:;">
				<img id="{{value.orderid}}" class="mui-media-object-large mui-pull-left pic" src="{{value.pic}}">
				<div id="{{value.orderid}}" class="mui-media-body" style="position: relative">
					<p id="{{value.orderid}}" class='mui-ellipsis mui-order-title'>{{value.servicename}}</p>
					<span id="{{value.orderid}}" class='mui-ellipsis mui-ellipsis' style="font-size:14px;color:#666666">{{value.shopname}}</span>
					<div id="{{value.orderid}}" style="margin-top: 5px;">
						<span id="{{value.orderid}}" style="font-size:14px; color:#666666">￥{{value.unitprice}}</span>
					</div>
				</div>
			</a>
		</li>
		{{/if}}
		{{/each}}
	</script>

</html>