/* demo page styles */
article, aside, figure, footer, header,
menu, nav, section { display: block; }

body{
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 12px;
    line-height: 1.5;
}

/*body {*/
/*background:#eee;*/
/*margin:0;*/
/*padding:0;*/
/*font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;*/
/*}*/

a{
    color:#000;
}

a:HOVER{
    color:#F00;
}

.menu{
    width:130px;
    border:1px solid #CCC;
    /* border:1px solid red; */
    background-color: silver;
}


.menu ul{
    margin:0px;
    padding:0px;
    background-color: pink;

}

.menu li{
    list-style-type: none;
    background-color: #eee;
    padding:0px 8px;
    height:26px;
    line-height: 26px;
    border-bottom:1px solid #CCC;

}





/*body {*/
    /*background:#eee;*/
    /*margin:0;*/
    /*padding:0;*/
    /*font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;*/
/*}*/

/*.footer {*/
    /*clear: both;*/
    /*display: block;*/
    /*text-align: center;*/
    /*margin: 0px auto;*/
    /*position: absolute;*/
    /*bottom: 100px;*/
    /*width: 100%;*/
    /*}*/

/*.example {*/
    /*position:relative;*/
    /*background:#fff url(./images/background.jpg);*/
    /*width:520px;*/
    /*height:382px;*/
    /*border:1px #000 solid;*/
    /*margin:20px auto;*/
    /*padding:15px;*/
    /*border-radius:3px;*/
    /*-moz-border-radius:3px;*/
    /*-webkit-border-radius:3px;*/
/*}*/

/*/!* main menu styles *!/*/

/*.nav,.nav ul {*/
    /*list-style:none;*/
    /*margin:0;*/
    /*padding:0;*/
/*}*/

/*.nav {*/
    /*position:relative;*/
/*}*/

/*.nav ul {*/
    /*height:0;*/
    /*left:0;*/
    /*overflow:hidden;*/
    /*position:absolute;*/
    /*top:46px;*/
/*}*/

/*.nav li {*/
    /*float:left;*/
    /*position:relative;*/
/*}*/

/*.nav li a {*/
    /*-moz-transition:0.5s;*/
    /*-o-transition:0.5s;*/
    /*-webkit-transition:0.5s;*/
    /*background-color:#7770B4;*/
    /*border:1px solid #6E67A6;*/
    /*color:#FFF;*/
    /*display:block;*/
    /*font-size:16px;*/
    /*line-height:35px;*/
    /*padding:5px 20px;*/
    /*text-decoration:none;*/
    /*transition:0.5s;*/
/*}*/

/*.nav li:hover > a {*/
    /*background:#8CCA33;*/
    /*border-color:#6E67A6;*/
    /*color:#fff;*/
/*}*/

/*.nav li:hover ul.subs {*/
    /*height:auto;*/
    /*width:180px;*/
/*}*/

/*.nav ul li {*/
    /*-moz-transition:0.5s;*/
    /*-o-transition:0.5s;*/
    /*-webkit-transition:0.5s;*/
    /*opacity:0;*/
    /*transition:0.5s;*/
    /*width:100%;*/
/*}*/

/*.nav li ul li {*/
    /*-moz-transition-delay:0s;*/
    /*-o-transition-delay:0s;*/
    /*-webkit-transition-delay:0s;*/
    /*transition-delay:0s;*/
/*}*/

/*.nav li:hover ul li {*/
    /*opacity:1;*/
    /*-moz-transition-delay:0.5s;*/
    /*-o-transition-delay:0.5s;*/
    /*-webkit-transition-delay:0.5s;*/
    /*transition-delay:0.5s;*/
/*}*/

/*.nav ul li a {*/
    /*background:#7770B4;*/
    /*border-color:#6E67A6;*/
    /*color:#fff;*/
    /*line-height:normal;*/
    /*-moz-transition:1.5s;*/
    /*-o-transition:1.5s;*/
    /*-webkit-transition:1.5s;*/
    /*transition:1.5s;*/
/*}*/

/*.nav li:hover ul li a {*/
    /*line-height:normal;*/
/*}*/

/*.nav ul li a:hover {*/
    /*background:#8CCA33;*/
    /*background-image: -webkit-gradient(linear, 0% 0%, 0% 95%, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0)));*/
    /*background-image: -moz-linear-gradient(90deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));*/
    /*background-image: -o-linear-gradient(90deg,rgba(255,255,255,0.5),rgba(255,255,25,0));*/
/*}*/